@import "null";

body {
    background: #F4F5FA;
}

.container {
    max-width: 1336px;
    height: 828px;
    margin: 0  auto;
    &__form {
        position: relative;
        margin: 138px 0 155px 0px;
        display: flex;
        // justify-content: flex-end;
        // padding-right: 141px;
    }
}

.form {
    &__wrapper {
        position: relative;
        background: #FFFFFF;
        width: 440px;
        height: 535px;  
        border-radius: 0px 50px 50px 50px;
        z-index: 100;
    }

    &__background {
        position: absolute;
        background: url(/img/10.png);
        width: 102.54px;
        height: 118px;
        right: 115px;
        top: -28px;
        
    }
    &__content {
        width: 370px;
        padding: 35px 0;
        margin: 0 auto;
    }
    &__addBtn {
        margin-bottom: 12px;
    }
}

.form-value {

    &:not(:last-child) {
        padding-bottom: 25px;
    }

    &:last-child {
        padding-bottom: 19px;
    }

    &__title {
    }

    &__line {
        opacity: 0.5;
        border: 1.5px solid #E1E3EE;
    }
}
