@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  overflow-x: hidden; }

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-bold.eot");
  src: local("☺"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-medium.eot");
  src: local("☺"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroy-semibold.eot");
  src: local("☺"), url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.ttf") format("truetype"), url("../fonts/gilroy-semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
body {
  background: #f4f5fa;
  font-family: 'Gilroy';
  color: #1C154E; }

.container {
  max-width: 1336px;
  margin: 0 auto; }
  .container__form {
    position: relative;
    margin: 138px 0 155px 0px;
    display: flex;
    justify-content: flex-end;
    padding-right: 141px; }

.form__wrapper {
  position: relative;
  background: #ffffff;
  width: 440px;
  height: 535px;
  border-radius: 0px 50px 50px 50px;
  z-index: 100; }
.form__background {
  position: absolute;
  background: url(/img/10.png);
  width: 102.54px;
  height: 118px;
  right: 115px;
  top: -28px; }
.form__content {
  width: 370px;
  padding: 35px 0;
  margin: 0 auto; }
.form__addBtn {
  margin-bottom: 12px;
  color: #23C967;
  background: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center; }
  .form__addBtn img {
    padding-left: 5px; }
.form__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #494471;
  padding-bottom: 19px; }
.form__radio {
  padding-bottom: 23px; }
.form__secure {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 17px;
  color: #AFB4CC; }
  .form__secure img {
    padding-right: 5px; }

.form-value {
  padding-bottom: 25px; }
  .form-value__title {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 134.9%; }
  .form-value__line {
    opacity: 0.5;
    border: 1.5px solid #e1e3ee; }

.formRadio {
  width: 370px; }
  .formRadio__input {
    display: none; }
    .formRadio__input:checked + .formRadio__label::after {
      transform: scale(1); }
  .formRadio__label {
    position: relative;
    display: flex;
    align-items: center;
    padding: 17px 12px 0px 17px; }
    .formRadio__label::before {
      content: "";
      align-self: flex-start;
      flex: 0 0 22px;
      height: 22px;
      background-color: #fff;
      border: 1.5px solid #e1e3ee;
      border-radius: 50%;
      margin: 0 17px 0 0; }
    .formRadio__label::after {
      transition: transform 0.3s ease 0s;
      content: "";
      position: absolute;
      top: 22px;
      left: 22px;
      width: 12px;
      height: 12px;
      background: #23c967;
      border-radius: 50%;
      transform: scale(0); }

.formRadio__product input[type="radio"]:checked + label {
  background: #f4f5fa; }
  .formRadio__product input[type="radio"]:checked + label .labelProduct__discont {
    color: #23C967; }

.labelProduct__content {
  position: relative;
  top: -10px; }

._firstLabelProduct {
  border-radius: 15px 15px 0px 0px;
  border: 1.5px solid #e1e3ee; }

._firstLabelProduct:hover, ._middleLabelProduct:hover, ._lastLabelProduct:hover {
  background: #f4f5fa; }
  ._firstLabelProduct:hover .labelProduct__discont, ._middleLabelProduct:hover .labelProduct__discont, ._lastLabelProduct:hover .labelProduct__discont {
    color: #23C967; }

._middleLabelProduct {
  border: 1.5px solid #e1e3ee; }

._lastLabelProduct {
  border-radius: 0px 0px 15px 15px;
  border: 1.5px solid #e1e3ee;
  padding-bottom: 19px; }
  ._lastLabelProduct .labelProduct__content {
    top: 0; }

.formValue__label {
  font-size: 16px;
  line-height: 145%;
  opacity: 0.8;
  padding-bottom: 12px;
  padding-top: 12px; }
.formValue__labelInput {
  font-size: 16px;
  line-height: 19px;
  color: #D0D3E2;
  padding-bottom: 7px;
  width: 100%; }
.formValue__delete {
  background: none;
  width: 13px;
  padding-left: 5px; }

.btn {
  width: 370px;
  height: 45px;
  background: #23C967;
  border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

._scroll {
  overflow-y: scroll;
  height: 368px;
  margin-bottom: 25px;
  scrollbar-width: thin;
  scrollbar-color: #23C967 #E1E3EE; }
  ._scroll::-webkit-scrollbar {
    width: 4px; }
  ._scroll::-webkit-scrollbar-track {
    background: #E1E3EE; }
  ._scroll::-webkit-scrollbar-thumb {
    background: #23C967;
    border-radius: 5px; }

.labelProduct__quantity {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-bottom: 5px; }

.labelProduct__discont {
  font-size: 13px;
  line-height: 16px;
  color: #A7A2CB; }

._formTwo {
  display: none; }

.loading {
  animation-name: loading;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@keyframes loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.btnLoading {
  display: none; }

.form__price {
  padding: 0px 5px; }

.formValue__successfull {
  padding-top: 34px;
  text-align: center;
  padding-bottom: 95px; }

.formValue__error {
  text-align: center;
  padding-bottom: 36px; }

._error {
  padding-bottom: 0; }

._btnError {
  background: #EA717F; }

/*# sourceMappingURL=style.css.map */
