@import "null";

// .none {
//     display: none;
// }

body {
    background: #F4F5FA;
}

.container {
    max-width: 1336px;
    // height: 828px;
    margin: 0  auto;
    &__form {
        position: relative;
        margin: 138px 0 155px 0px;
        display: flex; 
        // justify-content: flex-end;
        // padding-right: 141px;
    }
}

.form {
    
    &__wrapper {
        position: relative;
        background: #FFFFFF;
        width: 440px;
        height: 535px;  
        border-radius: 0px 50px 50px 50px;
        z-index: 100;
    }

    &__background {
        position: absolute;
        background: url(/img/10.png);
        width: 102.54px;
        height: 118px;
        right: 115px;
        top: -28px;
        
    }
    &__content {
        width: 370px;
        padding: 35px 0;
        margin: 0 auto;
    }
    &__addBtn {
        margin-bottom: 12px;
    }

    &__radio {
        padding-bottom: 23px;
    }
}

.form-value {

    &:not(:last-child) {
        padding-bottom: 25px;
    }

    &:last-child {
        padding-bottom: 19px;
    }

    &__title {
    }

    &__line {
        opacity: 0.5;
        border: 1.5px solid #E1E3EE;
    }
}

.formRadio {

    width: 370px;

    &__input {
        display: none;
        &:checked + .formRadio__label::after {
            transform: scale(1);
        }
    }
    &__label {        
        position: relative;
        // display: inline-flex;
        display: flex;
        align-items: center;
        padding: 23px 12px 15px 17px;


        &::before {
            content: "";
            align-self: flex-start;
            flex: 0 0 22px;
            height: 22px;
            background-color: #fff;
            border: 1.5px solid #E1E3EE;
            border-radius: 50%;
            margin: 0 10px 0 0;
        }
        &::after {
            transition: transform 0.3s ease 0s;
            content: "";
            position: absolute;
            top: 28px;
            left: 22px;
            width: 12px;
            height: 12px;
            background: #23C967;
            border-radius: 50%;
            transform: scale(0);
        }
    }
}


.formRadio__product input[type=radio]:checked + label  {
    background: #F4F5FA;
}

._firstLabelProduct:hover {
    background: #F4F5FA;
}

.labelProduct {
    &__content {
        position: relative;
        top: -10px;
    }
}

._firstLabelProduct {
    border-radius: 15px 15px 0px 0px;   
    border: 1.5px solid #E1E3EE;
}

